# Database
DATABASE_URL=postgresql://ordura:bDH36E0JAXVtWwxPIu19V8TG8pkZXkgmHq5fZ6A4nXA=@localhost:5432/ordura_db

# Logging
LOG_LEVEL=info

# JWT Configuration
JWT_SECRET=SNYOJ1swz1tD8dvNcGD5d02PUpZfXFAkDgQJci2BZ6E=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Server
PORT=3000
NODE_ENV=development